<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:fly.properties"/>

    <bean id="serviceDiscovery" class="com.cxt.fly.registry.impl.ZookeeperDiscover">
        <constructor-arg name="zkAddress" value="${fly.registry_address}"/>
    </bean>

    <bean id="rpcProxy" class="com.cxt.fly.client.RpcProxy">
        <constructor-arg name="serviceDiscover" ref="serviceDiscovery"/>
        <constructor-arg name="serializeType" value="${fly.serialize_type}"/>
    </bean>

</beans>